{% extends '../layout/layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block head %}
<head>

</head>
{% endblock %}

{% block content %}
    <div class="costom">
        <div class="img"></div>
        {% for item in members -%}
            <div data-id='{{item.id}}'>
                <span>{{item.name}}</span>
                <span class="count">{{item.number}}</span>
                <span is="x-praise" name="x-praise" data-id={{item.number}} ></span>
                <!-- <button class='thumb' is="x-praise" name="x-praise">点赞</button> -->
            </div>
        {%- endfor %}

    </div>
    <!-- <script type="text/javascript" src="/javascripts/dist/index.js"></script> -->
{% endblock %}
